html,
body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

.Login {
  height: 100vh;
  /* background-image: linear-gradient(
    to right,
    rgb(248, 166, 84),
    rgb(255, 167, 184)
  ); */
  /* background-image:url("login.jpeg") ; */
  /* background-image: 
  linear-gradient(to right, rgba(248, 166, 84, 0.6), rgba(255, 167, 184, 0.6)), 
  url("login2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
  transition:1s ease-out; */
  /* animation: moving 1s; */

  min-height: 60vh;
  background-image: linear-gradient(
      to right,
      rgba(248, 166, 84, 0.6),
      rgba(255, 167, 184, 0.6)
    ),
    url("login.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
  overflow-y: auto;
}

.LoginForm {
  position: relative;
  /* overflow-y: auto; */
  background-color: rgb(240, 226, 217);
  opacity: 0.4;
  box-shadow: 2px 5px 20px 5px rgb(45, 32, 15);
  min-height: 80vh;
  height: 80%;
  min-width: 360px;
  width: 60%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmax;
  transition: 1s ease-in-out;
  box-sizing: border-box;
  animation: moving 0.8s;
  transition: 0.4s ease-in-out;
}
.LoginForm:hover {
  opacity: 0.9;
}

.LoginForm > input {
  box-sizing: border-box;
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 1%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2vmax;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  outline: none;
}

.LoginForm > a {
  align-self: flex-end;
  text-decoration: none;
  color: black;
  margin: 2vmax;
}
.btn {
  width: 10%;
  height: 6%;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(255, 158, 84);
  transition: 0.2s ease-out;
}
span {
  font-weight: bold;
  color: rgb(235, 92, 9);
}
span:hover {
  color: rgb(174, 65, 2);
}
.btn:hover {
  width: 11%;
  animation: shaking 0.3s infinite;
  background-color: rgb(249, 143, 62);
}

@keyframes moving {
  0% {
    transform: translateX(-100%) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes shaking {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(7deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-7deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@media (max-width: 860px) {
  .Login {
  background-image: 
    linear-gradient(to right, rgba(248, 166, 84, 0.6), rgba(255, 167, 184, 0.6)),
    url("demo.avif");
  background-size: cover;
  background-position: center;
  }
}

